[project]
name = "{{ .ModuleProject }}"
version = "0.1.0"
requires-python = ">=3.14"
dependencies = ["dagger-io", "dagger-clients-core"]

[build-system]
requires = ["uv_build>=0.8.4,<0.12.0"]
build-backend = "uv_build"

[tool.uv.workspace]
members = ["sdk", "clients/core"]

[tool.uv.sources]
dagger-io = { workspace = true }
dagger-clients-core = { workspace = true }
