from dagger import function, object_type
from dagger_clients.core import Container, Directory, core


@object_type
class {{ .ModuleType }}:
    @function
    def container_echo(self, string_arg: str) -> Container:
        """Returns a container that echoes whatever string argument is provided"""
        return core().container().from_("alpine:latest").with_exec(["echo", string_arg])

    @function
    async def grep_dir(self, directory_arg: Directory, pattern: str) -> str:
        """Returns lines that match a pattern in the files of the provided Directory"""
        return await (
            core()
            .container()
            .from_("alpine:latest")
            .with_mounted_directory("/mnt", directory_arg)
            .with_workdir("/mnt")
            .with_exec(["grep", "-R", pattern, "."])
            .stdout()
        )
